.header {
    display: grid;
    grid-template-columns: 19.5vw 60vw 20vw;
    grid-template-rows: 10vh;
}
.gallery {
    overflow: scroll;
    text-align: center;
    height: 79vh;
}
.footer {
    display: grid;
    grid-template-columns: 99vw;
    grid-template-rows: 3.5vh; 
    background-color: blueviolet;
    text-align: center;
}
.cam {
    display: grid;
    grid-template-columns:25vw 50vw 24vw;
    grid-template-rows: 79vh;
}
.checkphoto {
    display: grid;
    grid-template-columns:25vw 50vw 24vw;
    grid-template-rows: 60vh 19vh;
    text-align: center;
}
.n42 {
    text-align: center;
    background-color: pink;
}
.cama {
    background-color: blueviolet;
}
.login {
    background-color: pink;
    margin-top: 1px;
    margin-bottom: 0.5px;
}
#data {
    width: 10%;
}
#bc {
    width: 10%;
}
#notific {
    width: 10%;
}
#photo {
    text-align: center;
    width: 20%;
    float: left;
    outline: 2px solid #f00;
}
#divc {
    text-align: center;
    margin: 1px 1px 1px 1px;
}
#photoc {
    width: 37vw;
    text-align: center;
    margin: 1px 1px 1px 1px;
}
.web {
    background-color: pink;
    text-align: center;
    float: right;
}
.mask{
    overflow: scroll;
    background-color: navajowhite;
    text-align: center;
    border:1px;
}
video {
    width: 90%;
    height: 90%;
}
#can {
    display: none;
}
#jpega {
    text-align: center;
    width: 95%;
}
#pred {
    display: none;
    text-align: center;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
}
[type=radio]:checked + img {
    outline: 2px solid #f00;
}
#like {
    width: 1.5vw;
}
#comments {
    background-color: white;
    width: 29vw;
    font-size: 20px;
    height: 3vh;
    margin-top: 0.95vh;
}
#but {
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 0.1vw 0;
    border-style: solid none;
    border-color: rgb(128, 51, 253) #000 rgb(106, 7, 172);
    border-radius: 0.2vw;
    background: linear-gradient(rgb(139, 57, 247), rgb(65, 11, 192)) rgb(65, 11, 192);
    transition: 0.2s;
    margin-left: 5px;
    width: 3vw;
} 

#chati {
    background-color: blueviolet;;
    color:  white;
    width: 37vw;
    height: 17vh;
    text-align: left;
    overflow: scroll;
    margin: 1px 1px 1px 13%;
}
#texti {
    display: grid;
    grid-template-columns:4vw 32.5vw;
    grid-template-rows: 5.1vh;
    background-color: blueviolet;
    color: white;
    text-align: left;
    width: 37vw;
    margin: 1px 1px 1px 13%;
    overflow: scroll;
}
::-webkit-scrollbar { 
    width: 0px;
    background: transparent;
}
#nlike {
    text-align: left;
    width: 5vw;
}
#num {
    color: rgb(222, 89, 255);
    text-align: left;
    font-size: 2vh;
    margin-bottom: 0.4vh;
}
@font-face {
    font-family: "audioregul"; 
    src: url(Audiowide-Regular.ttf);
}
            
h1 { color: #0a0a0a; 
    font-family: "audioregul"; 
    font-size: 4vw; 
    text-align: center;
    margin: 1px 1px 1px 1px;
}

h2 { color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
    font-family: "audioregul"; 
    font-size: 1vw;
    margin-top: 1px;
    margin-bottom: 0.5px;
}
h3 { color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: center;
    font-family: "audioregul"; 
    font-size: 1vw;
    margin-top: 1px;
    margin-bottom: 0.5px;
}
p {
    text-align: center;
}
.login {
    text-align: center;
}
.img42 {
    width: 5vw;
}
.testdiv {
    text-align: center;
    width: 5vw;
}
.img41 {
    width: 3vw;
}
.author {
    text-align: center;
    float: left;
}
.button2 {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 0.1vw 0;
    border-style: solid none;
    border-color: rgb(128, 51, 253) #000 rgb(106, 7, 172);
    border-radius: 0.2vw;
    background: linear-gradient(rgb(139, 57, 247), rgb(65, 11, 192)) rgb(65, 11, 192);
    transition: 0.2s;
} 
.button2:hover {
    background: linear-gradient(rgb(115, 61, 241), rgb(97, 6, 243 ))rgb(115, 61, 241);
}
.button2:active {
    background: linear-gradient(rgb(97, 6, 243 ), rgb(115, 61, 241))rgb(97, 6, 243 );
}
.mask1 {
    background-color: navajowhite;
}
.inputtt {
    width: 37vw;
}
