.header {
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 10vh;
}
.n42 {
    background-color: aquamarine;
}
.cama {
    background-color: blueviolet;
}
.login {
    background-color: pink;
}
.cam {
    display: grid;
    grid-template-columns:25vw 50vw 25vw;
    grid-template-rows: 75vh;
}
.web {
    background-color: pink;
    text-align: center;
}
video {
    width: 90%;
    height: 90%;
}